<div class="container">
    <div class="sidebar">
        <a routerLink="/main/workout-overview" routerLinkActive="active-link">Workout Overview</a>
        <a routerLink="/main/addworkout" routerLinkActive="active-link">New Workout</a>
        <a routerLink="/main/bmi-tracker" routerLinkActive="active-link">BMI Tracker</a>
        <!-- <a routerLink="/main/bmi-personal" routerLinkActive="active-link">Personal</a> -->
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>