
<div class="ss-main-content">
    <h2>Create New Workout</h2>
<form [formGroup]="workoutForm" (ngSubmit)="createWorkout()" class="workout-form">
    <label for="workoutName">Workout:</label>
    <input type="text" id="workoutName" formControlName="workoutName" class="form-control" />

    <label for="workoutDate">Date:</label>
    <input type="date" id="workoutDate" formControlName="workoutDate" class="form-control" />

    <div formArrayName="exercises" class="exercises-container">
        <div  *ngFor="let exercise of exercises.controls; let i = index" class="exercise-group"  style="display:flex-box;">
            <label for="exerciseName">Exercise:</label>
            <input type="text" id="exerciseName" [formControl]="exercise.get('exerciseName')" class="form-control" />

            <label for="weight">Weight:</label>
            <input style="width: 60px;margin-right:20px;margin-left:10px;" type="number" id="weight" [formControl]="exercise.get('weight')" class="form-control" />

            <label for="sets">Sets:</label>
            <input style="width: 60px;margin-right:20px;margin-left:10px;" type="number" id="sets" [formControl]="exercise.get('sets')" class="form-control" />

            <label for="reps">Reps:</label>
            <input style="width: 60px;margin-left:10px;" type="number" id="reps" [formControl]="exercise.get('reps')" class="form-control" />

            <button style="display:flex-box;float:Right; "type="button" (click)="removeExercise(i)" class="remove-button" ><svg xmlns="http://www.w3.org/2000/svg" height="22" width="20" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg></button>
        </div>
    </div>

    <button type="button" (click)="addExercise()" class="add-button">Add Exercise</button>

    <button type="submit" class="submit-button">Create Workout</button>
</form>
</div>