<div class="ss-login-container">
    <div class="ss-login-text-container">
        <div class="ss-header-text">Login</div>
    </div>
  
    <form class="ss-login-form" action="" [formGroup]="loginForm">
        <div class="ss-username-container">
            <p>Username</p>
            <input formControlName="username" class="ss-login-input-username" type="text">'
        </div>
        
        <p>Password</p>
        <input formControlName="password" class="ss-login-input-password" type="password">
        <button class="ss-login-button" (click)="onLogin()" type="submit" [disabled]="loginForm.invalid">Log in</button>
    </form>


</div>
