<div class="ss-login-container">
    <div class="ss-login-text-container">
        <div class="ss-header-text">Login</div>
    </div>
  
    <form class="ss-login-form" action="">
        <div class="ss-username-container">
            <p>Username</p>
            <input class="ss-login-input-username" type="text">'
        </div>
        
        <p>Password</p>
        <input class="ss-login-input-password" type="password">
        <button class="ss-login-button">Log in</button>
    </form>


</div>
