
<div class="ss-main-content">
<h2>Workout Overview</h2>
<div class="ss-sort-dropdown">
  <select id="sortingOption" [(ngModel)]="selectedSortingOption" (change)="sortWorkouts()">
    <option *ngFor="let option of sortingOptions" [value]="option.value">{{ option.label }}</option>
  </select>
</div>
    <section class="ss-workout-overview">
 
      <div *ngFor="let item of workouts" class="ss-workout-item" (click)="navigateToWorkout(item.workoutId)" >
        <h3 >{{item.workoutName}}</h3>
        <p class="ss-workout-details">{{item.workoutDate | date}}</p> 

      </div>
    </section> 


  </div>
