.ss-main-content {
    width: 800px;
    text-align: left;
    margin: auto;
    padding: 0 20px 0 200px;
    
  }
  h2 {
    color: var(--yellow);
    top:0;
    margin-bottom:50px;
  }
  
  // Workout overview styles
  .ss-workout-overview {
    background-color: rgba(50, 48, 48, 0.539);
    padding: 15px;
    margin-bottom: 20px;
    overflow-y:scroll;
    max-height: 500px;
    border-radius: 5px;

    &::-webkit-scrollbar {
      width: 8px;  /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-thumb {
      background-color: #636363;  /* Color of the thumb */
      border-radius: 4px;  /* Roundness of the thumb */
  }

  &::-webkit-scrollbar-track {
      background-color: rgba(50, 48, 48, 0.539);  /* Color of the track */
  }
  
    p{
      padding-top:5px;
    }
    
  
    // Styles for each workout item
    .ss-workout-item {
      
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 10px;
      background-color: rgba(109, 109, 109, 0.5);
      
      h3{
        color:white;
      }
      // Workout details
      .ss-workout-details {
        font-size: 0.9em;
        color: #d1d1d1;
      }
      &:hover{
        background-color: #9a9898;
        cursor:pointer;
      }
    }
  }
  
  // Add new workout form styles
  .add-workout-form {
    background-color: #f5f5f5;
    padding: 15px;
  
    h2 {
      color: #333; 
  }
}

.ss-add-workout{
  margin-top:20px;
  padding:10px 20px 10px 20px;
  background-color: var(--yellow);
  color: var(--dark-grey);
  border-radius: 30px;
  border:none;
  cursor: pointer;

  &:hover{
      background-color: var(--blue);
  }
}

select{
  border: solid 4px var(--blue);
  border-radius: 5px;
  font-size: 12px;
  padding:5px;
  position: absolute;
  right:50px;
  top:0;
}